*{
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 900px;
    
    /* border: 1px solid black; */
}
.centre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title , .text{
    text-align: center;
}
.text{
    color: #9194a1;
    font-size: 0.8rem;
}
.nav--bar{
    position: absolute;
    /* border: 1px solid; */
    background: #252b46;
    width: 100%;
    min-height: 100vh;
    z-index: 2;
}
.no--bg{
    background: none;
    height: 0;
    margin-bottom: 1.6em;
    z-index: 2;
}
.no--nav{
    display: none;
}
.display{
    display: flex;
}
.nav--links{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 550px;
    /* border: 1px solid white; */
    align-items: center;
    
}
.flex{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
}
.nav--link{
    font-size: 2em;
    margin: 1.5em 0;
    color: white;
    width: 80%;
    padding: 0.7em;
    /* border: 1px 0px solid grey; */
}
.nav--link:hover{
    border: 2px solid white;
    border-radius: 10px;
}
button{
    font-family: "Rubik", sans-serif;
    padding: 0.8em;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15); 
}
/* .first--buttons button{
    
} */
.first--buttons{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    
}
.first--btn{
    background-color: #5368df;
    color: white;
}
.second--btn{
    background-color: white;
}
.header--image{
position: relative;
display: flex;
overflow: hidden;
}
.header--image::after{
content: '';
position: absolute;
align-self: flex-end;
height: 200px;
width: 500px;
left: 150px;
background-color: #5368df;
z-index: -1;
border-bottom-left-radius: 100px;
}
.second--links{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
    margin-bottom: 0.8rem;
}
.second--link{
    font-size: 0.8rem;
    color: #9194a1;
    padding: 0.6em;
    border-bottom: 0.6px solid #9194a1;
}
.second--links > li:nth-child(1){
    /* border: 1px solid green; */
    /* margin-top: 0.5em; */
    border-top: 0.6px solid #9194a1;
}
.illustrate{
    display: flex;
    position: relative;
    /* overflow: hidden; */
}
.illustrate::after{
content: '';
position: absolute;
align-self: flex-end;
height: 200px;
width: 600px;
/* bottom: 0; */
top: 25%;
right: 150px;
background-color: #5368df;
z-index: -1;
border-bottom-right-radius: 100px;
}
.extension{
    /* border: 1px solid; */
    /* margin: 0 auto; */
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 300px;
    border-radius: 10px;
    max-width: 250px;
}
.extension img{
    width: 40%;
}
.extension button ,.faq--btn{
    color: white;
    background-color: #5368df;
    margin: 0 auto;
}
/* .section--faq{
    /* background-color: #5368df; */
/* } */
.accord{
    margin-top: 1.3em;
    margin-bottom: 0.3em;
}
.box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.2em;
    margin: 0 auto;
    max-width: 600px;
}
.accord--btn{
    font-weight: 600;
    font-size: 0.75rem;
}
.accord--text{
    display: none;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
    /* border: 1px solid; */
}
.active{
    display: flex;
    flex-direction: column;
}
.section--contact{
    padding: 1em;
    background-color: #5368df;
    margin-top: 2rem;
    /* margin-bottom: 2rem; */
}
.contact--title{
    color: white;
}
.section--contact button,input{
    width: 90%;
    margin-bottom: 0.3em;
}
.section--contact input{
    padding: 0.6em;
}
.section--contact button{
    background-color: #fa5757;
    color: white;
}
.section--footer{
    background-color: #252b46;
    color: white;

}
.footer--links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.footer--link{
    margin-bottom: 0.7rem;
}
.icons{
    /* border: 1px solid red; */
    display: flex;
    width: 30%;
    justify-content: space-between;
}
@media (min-width : 800px){
    
    .section--item{
        display: flex;
        flex-direction: row-reverse;
        /* border: 1px solid green; */
        justify-content: center;
    }
    
    .second--text,.third--title{
        text-align: left;
        /* width: 50%; */
    }
    /* .header--image{
        border: 1px solid red;
        width: 45%;
    } */
    .first--content{
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        /* min-height: 100%; */
        align-items: flex-start;
        align-self: flex-start;
        text-align: right;
        width: 48%;
    }
    .first--buttons{
        /* border: 1px solid blue; */
        width: 100%;
        justify-content: left;
    }
    button + button{
        margin-left: 1.2em;
    }
    .second--links{
        display: flex;
        justify-content: center;
    }
    .second--links > li:nth-child(1){
        border-top: none;
    }
    .second--link{
        margin-left: 1.4em;
    }
    .second--text{
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .third--item{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        /* border: 1px solid green; */
    }
    .illustrate{
        width: 40%;
    }
    .third--content{
        width: 45%;
        align-items: flex-start;
    }
    .div--contain{
        display: flex;
        justify-content: center;
    }
    .footer--item , .footer--links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .split{
        display: flex;
        /* border: 1px solid; */
        width: 40%;
        justify-content: space-evenly;
        margin: 0 auto;
    }
    .section--contact input{
        width: 60%;
    }
    .section--contact button{
        width: 30%;
        
    }
    .footer--links{
        width: 40%;
    }
    .column{
        display: block;
    }
    .icons{
        /* border: 1px solid white; */
        width: 10%;
    }
}